:root {
    --cream:#cfb069;
    --golden:#ffef99;
    --redpink:#ED1951;
    --grey250:#FAFAFA;
    --grey141:#8D8D8D;
    --grey128:#808080;
    --grey065:#414141;
    --deepblue:#015CAE;
    --greyblue:#347DBE;
}

.summary {
    color: var(--grey128);
    border-left: 5px solid var(--redpink);
    font-size:16px;
}

h1,h2,h3,h4,h5,h6 {text-align:left;}

h3 {color: var(--redpink); }
h4 {color: var(--grey128); }



.sidenav-tabs > li.active > a, .sidenav-tabs > li.active > a:hover, .sidenav-tabs > li.active > a:focus {
    background-color: var(--cream);
    color: white;
}

.sidenav > li > a:hover {
    background-color: var(--cream);  /* sidebar hover color */
    color: white;
}

.sidenav > li.active > a {
    background-color: var(--grey065);  /* sidebar selected default color */
}

.sidenav li.thirdlevel > a {
    background-color: var(--grey250) !important;
    color: white;
    /*
    color: #248EC2;
    font-weight: bold;
    */
}



.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: var(--cream);
    color: white;
}

.nav > li > a:hover {
    background-color: var(--cream);  /* sidebar hover color */
    color: white;
}

.nav > li.active > a {
    background-color: var(--grey065);  /* sidebar selected default color */
}

div.navbar-collapse .dropdown-menu {
    border-radius:5px;
}

/* automatically open the menu on hover */
div.navbar-collapse .dropdown:hover .dropdown-menu {
    display: block;
}

div.navbar-collapse .dropdown-menu > li {
    border-radius:5px;
}

div.navbar-collapse .dropdown-menu > li > a {
    border-radius:5px;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: var(--cream);   /* navbar dropdown menu item background color */
    border-radius:5px;
    color: white;
    /*
    color: #f0f0f0;
    background-color: var(--cream);
    background-color: var(--greyblue);
    */
}

.nav li.thirdlevel > a {
    background-color: var(--grey250) !important;
    color: white;
    /*
    color: #248EC2;
    font-weight: bold;
    */
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: black;    /* navigation bar background color */
    /*
    border-color: var(--deepblue)
    border-color: var(--golden);
    */
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: var(--golden); /* navigation bar font color golden */
    /*
    font-weight: bold;
    */
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
    background-color: var(--cream);    /* navigation bar hover background color when accordion closed */
    border-radius:5px;
     /*
     color: #f0f0f0;
     */
     color: white;
     /*
     font-weight: bold;
     */
}

a.navbar-brand:hover {
  color: #f0f0f0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  /* 
  color: var(--deepblue);
  */
  color: var(--cream);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: var(--cream);
    color: white; /* #ffffff */
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    /*
    border-color: #248ec2 !important;
    */
    border-color: var(--cream) !important;
}

.btn-primary {
    color: #ffffff;
    background-color: var(--cream);
    border-color: var(--cream);
    /*
    background-color: var(--greyblue);
    border-color: var(--greyblue);
    */
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    /*
    background-color: var(--greyblue);
    */
    background-color: var(--cream);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    /*
    background-color: #248ec2;
    border-color: var(--greyblue);
    */
    background-color: var(--cream);
    border-color: var(--cream);
}

div.navbar-collapse .dropdown:hover .dropdown-toggle {
    /* keep the dropdown botton selected as long as dropdown is shown */
    background-color: var(--cream);
    border-color: var(--cream);
    color: white;
    border-radius:5px;
}


.printTitle {
    color: var(--deepblue) !important;
}

body.print h1 {color: var(--deepblue) !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #E50E51 !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #216f9b;
}

div.sidebarTitle {
    color: var(--deepblue);
}

li.sidebarTitle {
  margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: var(--redpink);
    margin-bottom:10px;
    margin-left: 5px;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: var(--cream); /* navbar background color in collapsed mode */
}

.navbar-inverse .navbar-toggle {
    border-color: var(--cream);
}


/* video wrapper */
.video-wrapper {
	width: 100%;
	max-width: 100%;
    margin-top: 10;
    margin-bottom: 10;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.center { 
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

/* End of fluid video embedding aspect ratio */


.social-icons a{color: black;}
.social-icons {
    text-align: right;
    float: none;
    margin-bottom:  1.25rem;
    margin-right:   1.25rem;
    /*
    */
}
.social-icon{
    text-align: center;
    margin-left: 1rem;
}
/* this part adds an icon after external links, using FontAwesome*/
.social-icon a:hover{
    color: var(--greyblue);
    text-decoration: none;
}
.social-icon a[href^="http://"]:after, a[href^="https://"]:after {
    content: none;
    text-decoration: none;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: none;
}
